body{
	text-align: center;
		
}
.btn{
	height: 150px;
	width: 150px;
	border: 10px black solid;
	border-radius: 20%;
	margin: 1rem;
}
.btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.line-one, .line-two{
	display: flex;
}
.pink{
	background-color: #d95980;
}
.blue {
	background-color: #366c7c;
}
.orange {
	background-color: #f99b45;
}
.skyblue {
	background-color: #819ff9;
}
.flash{
	background-color: white;

}
.userflash{
	background-color: green;
}